0 * * * * /usr/bin/python3 /home/lemon/scripts/adguard_combined_lists/combine_lists.py >> /home/lemon/cron.log 2>&1 && /home/lemon/scripts/adguard_combined_lists/auto-update-adgList.sh >> /home/lemon/upload.log 2>&1
